// import compass - compass-style.org/reference/compass/
// ==========================================================================

@import "compass";

// variables - sass-lang.com/
// ==========================================================================

$background-color: #f1f1f1;
$body-font-defaults: 1em/1.625 Georgia, Times, "Times New Roman", serif;
$text-color: #3d3331;
$header-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$header-color: #3d3331;
$shadow: -1px -1px 1px rgba(white, 0.5), 1px 1px 0 rgba(white, 0.5), 2px 2px 2px rgba(black, 0.2);
$helper-text: #7f7f7f;
$helper-link: #7f7f7f;
$link-color: #004b91;
$link-hover: #da1113;
$link-focus: #da1113;
$menu-background: darken(#3D3331, 10%);
$menu-link-color: #f1f1f1;
$menu-link-hover: #da1113;
$selection-color: #fe57a1; // html5boilerplate pink lives on!
$accents-color: #da1113;
$transparency: rgba(black, 0.1);
$transparency-hover: rgba(black, 0.2);
$box-transparency: rgba(black, 0.2);
$spacing: 1.625em;

// mixins
// ==========================================================================