@media only screen and (min-width: 45em) {
    blockquote {
        &.left {
            width: 33%;
            float: left;
            margin-left: 0;
            margin-right: 1em;
        }
        &.right {
            width: 33%;
            float: right;
            margin-left: 1em;
            margin-right: 0;
        }
    }
    #branding,
    #access,
    #main,
    #siteinfo,
    .sub-wrapper {
        max-width: 1140px;
    }
    #header-widget {
        position: absolute;
        top: $spacing;
        right: 0;
        margin: 0;
        ul,
        address {
            text-align: right;
        }
    }
    .js .access-nav { 
        display: block; 
    }
    .menu-button { 
        display: none; 
    }
    .sf-menu {
        li {
            position: relative;
            float: left;
            background: $menu-background;
            border-bottom: none;
            &:hover {
                ul {
                    left: 0;
                    top: 2.6em;
                    z-index: 99;
                }
            }
            &.has-flyout:after { 
                border-color: #fff transparent transparent; 
            }
            a {
               display: block;
                position: relative;
                text-decoration: none;
                color: $menu-link-color;
                padding: 0.5em 0.75em;
                &:focus, 
                &:hover, 
                &:active {
                    color: $menu-link-hover;
                    padding: 0.5em 0.75em;
                    outline: 0;
                }
            }
        }
        > li.has-flyout a { 
            padding-right: 1.75em; 
        }
        .sub-menu, 
        .children {
            position: absolute;
            top: -999em;
            width: 10em;
            li {
                width: 100%;
                background: #ddd;
                a {
                    padding: 0.5em 0.75em;
                    color: $menu-background;
                    &:hover {
                        background: $transparency;
                        padding: 0.5em 0.75em;
                    }
                }
                li {
                    a {
                        padding: 0.5em 0.75em;
                        &:hover {
                            padding: 0.5em 0.75em;
                        }
                    }
                    li {
                        a {
                            padding: 0.5em 0.75em;
                            &:hover {
                                padding: 0.5em 0.75em;
                            }
                        }
                    }
                }
                &.has-flyout:after { 
                    border-color: #000 transparent transparent; 
                }
            }
        }
        .current-menu-item a,
        .current-menu-parent a,
        .current-menu-ancestor a,
        .current-post-ancestor a,
        .current_page_item a,
        .current_page_ancestor a,
        .current_page_parent a {
           // nothing yet...
        }
        li:hover li ul { 
            top: -999em; 
        }
        li li:hover ul {
            left: 10em;
            top: 0;
        }
        li li:hover li ul { 
            top: -999em; 
        }
        li li li:hover ul {
            left: 10em;
            top: 0;
        }
    }
    #main {
        padding: $spacing 2em 0;
        box-shadow: 0 0 8px $box-transparency;
    }
    #container {
        float: left;
        width: 65.4%;
        margin-right: 3.8%;
    }
    .entry-utility {
        padding: $spacing 0;
        ul {
            float: left;
            width: 50%;
        }
    }
    .main-aside,
    #header-widget {
        float: right;
        width: 30.8%;
        clear: right;
    }
    #primary {
        box-shadow: 0 0 4px 0 $box-transparency;
    }
    #primary,
    #secondary {
        section,
        > ul { 
            padding: 0 1em; 
        }
    }
    .sub-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    #subsidiary {
        width: auto;
        .aside {
            float: left;
            width: 30.8%;
            margin: 0 3.8% 0 0; 
        }
        #third { 
            margin: 0; 
        }
    }
    .navigation {
        overflow: hidden;
        margin: 0 0 $spacing 0;
        .meta-nav { 
            font-style: normal; 
        }
    }
    .nav-previous { 
        float: left; 
    }
    .nav-next {
        float: right;
        text-align: right;
    }
    .content-column {
        float: left;
        width: 45%;
        margin: 0 0 $spacing;
    }
    .page-template-template-page-fullwidth-php #comments,
    .attachment-jpeg #comments,
    .attachment-png #comments {
        width: 65.4%;
    }
    .flexslider { 
        margin: 0 0 3.25em; 
    }
}